# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE / SO
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
credentials.json
